<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word of the day</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
</head>

<body>
    <div class="body-content">
        {% block content %}{% endblock %}
        <hr />
        <div>
            <div>
                <a href="https://github.com/andersastor">Github</a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/anders-johansson-07573b150/">LinkedIn</a>
            </div>
            <div>
                <a href="mailto:anders.astor@gmail.com">anders.astor@gmail.com</a>
            </div>
        </div>
        <br />
        <span>Powered by Flask</span>
    </div>
</body>
</html>
